.App {
  text-align: center;
  background: #f1f1f1;
}

.header {
  background: #333;
  color: #f1f1f1; 
  padding: 2rem 3rem .1rem 3rem;
  text-align: left;
}
/* ****OVERALL SETTINGS****/

section {
  margin: 2rem 3rem;
  border: 4px solid #333;  
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ******SECTION 1*** */

#section-1 .grid-container {
  height: 200px;

  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  /* grid-column-gap: 12px;
  grid-row-gap: 
  grid-gap:  */
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "left-side left-side top-right top-right "
                       "left-side left-side . . ";
  justify-items: stretch;
  align-items: stretch;
}

#section-1 .item:first-child {
  background: pink !important;
  grid-area: left-side;
}
#section-1 .item:nth-child(2) {
  background: dodgerblue !important;
  grid-area: top-right;
}

#section-1 .item:nth-child(odd) {
  background: #ddd;
}

/* *********** */
/* ******SECTION 2*** */

#section-2 .grid-container {
  height: 200px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "left-side right-side"
                       "left-side right-side";
}

#section-2 .item:first-child {
  grid-area: left-side;
  background: pink;
}
#section-2 .item:nth-child(2) {
  grid-area: right-side;
  background: dodgerblue;
}

/* *********** */

/* *******SECTION 3****** */
#section-3 .grid-container {
  height: 400px;

  display: grid;
  grid-template-columns: 140px auto 140px;
  grid-template-rows: 1fr 60% 1fr; 
  grid-template-areas: "header header header"
                       "content-left content-mid content-right"
                       "footer footer footer";
}

#section-3 .item.content-header {
  grid-area: header;
  background: dodgerblue;
}
#section-3 .item.content-left {
  grid-area: content-left;
  background: #aaa;
  justify-self: stretch;
  align-self: stretch;
}
#section-3 .item.content-mid {
  grid-area: content-mid;
}
#section-3 .item.content-right {
  grid-area: content-right;
  background: #aaa;
}
#section-3 .item.content-footer {
  grid-area: footer;
  background: pink;
}

@media screen and (max-width: 700px) {
  #section-3 .grid-container {
    grid-template-columns: 0 100% 0;
  }
  #section-3 .item.content-left, #section-3 .item.content-right {
    display: none;
  }
}

/* ****SECTION 4****** */
#section-4 .grid-container {
  height: 400px;

  display: grid;
  grid-template-columns: 100px 200px 100px;
  grid-auto-rows: 80px;

  align-content: start;
  justify-content: start;

  justify-content: space-around;
  align-content: center;
}
#section-4 .item {
  border: 1px solid black;
}
#section-4 .item:nth-child(odd) {
  background: #aaa;
}


/* *********LINK************* */

#github-link {
  margin: 0;
}
#github-link:hover {
  color: dodgerblue;
}
#github-link > a, #github-link > a:visited, #github-link > a:active {
  text-decoration: none;
  color: currentColor;
}

/* *********** */